@import "./colors.css";

:root {
	--number-text-decoration: none;
	--number-text-color: var(--discrete);

	--transition-speed: 0.1s;
}

body {
	height: 100vh;
	width: 100vw;
	font-family: "SauceCodePro Nerd Font", sans-serif;
	margin: 0px;
	background-color: var(--background);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

header {
	color: var(--text);
	background-color: var(--background-secondary);
	text-align: center;
	width: 500px;
	white-space: nowrap;
	font-size: 1.5em;
	padding: 1em;
	box-sizing: border-box;
}

main {
	display: flex;
	justify-content: center;
	gap: 60px;

	/* hack for pushing items up in a centered flexbox */
	margin-bottom: 10vh;
}

main > div {
	padding: 10px;
	background-color: var(--background-secondary);
	height: 160px;
	width: 160px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	justify-content: center;
}

h2 {
	color: var(--text);
	margin: 0px;
	font-size: 24px;
	font-weight: 200;
}

ul {
	width: fit-content;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

li {
	padding: 5px;
}

a {
	display: block;
	width: 100%;
	padding: 5px;
	color: var(--text);
	font-size: 12px;
	line-height: 12px;
	box-sizing: border-box;
	text-decoration: none;
	transition: color var(--transition-speed);
}

a:hover {
	color: var(--primary);
}

span {
	color: var(--number-text-color);
	text-decoration: var(--number-text-decoration);
	margin-right: 1ch;
	transition: color var(--transition-speed), text-decoration var(--transition-speed);
}

#notifier {
	position: absolute;
	color: var(--discrete);
	margin: 10px;
	bottom: 0px;
	right: 0px;
	pointer-events: none;
	opacity: 1;
	transition: opacity var(--transition-speed);
}

#notifier.hidden {
	opacity: 0;
}
